*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%; /*размер блока*/
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%; /*размер блока*/
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  /* main расположить блок .content посередине .page*/
  /*расположить элементы в строку, прижав к низу вертикальной оси*/
  /*задать горизонтальные размеры и отступы между его элементами*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  inline-size: 1140px;
  gap: 30px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.result {
  /*section first*/
  align-self: end;
}

.result__video-container {
  /*div*/
  /*Задать размеры контейнеру и добавить отступ снизу*/
  inline-size: 711px;
  padding-block-end: 16px;
  position: relative;
  
}

.result__video {
  /*video src*/
  /*замостить видео */
  inline-size: 100%;
  object-fit: cover;
}

.search-form {
  /*form*/
  /*расположить элементы .search-form в строку и пропорционально распределить между
  ними свободное пространство, прижав их к началу контейнера*/
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  /*fieldset*/
  /*сбросить бордер у fieldset*/
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  text-decoration: transparent;
  border: none;
}

.search-form__fieldset-title {
  /*h2 ГОРОД */
  /*оформить текст элементов (вес, размер, отступы)*/
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.search-form__label {
  /*label*/
  inline-size: fit-content; /*это свойство для подгонки элемента под размер его содержимого*/
  display: flex;
  align-items: center;
  gap: 5px;
  
}

.search-form__label:focus {
  /**/
  outline: none;
}

.search-form__label:focus-visible {
  border: 1px solid #fff;
}

.search-form__label-text {
  /*span*/

  color: white;
}

.search-form__textfield {
  /*input*/
  /*текстовому полю задаем appearance: none; так в разных браузерах будут нужные стили */
  border: 1px solid #fff;
  font-size: inherit;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  width: 225px;
  appearance: none;
}

.search-form__checkbox-list {
  /*div*/
  /*создана чтобы выстроить элементы в линию*/
  inline-size: fit-content;
  display: flex;
  gap: 10px;

}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox {
  /*input*/
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
 
 
}

.search-form__pseudo-checkbox {
  /*span*/
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
 

}

.search-form__pseudo-checkbox:active {
  /*:active*/
}

.search-form__label-text {
  /*span*/
  cursor: pointer;
  appearance: none;
}

.search-form__label-text:hover {
  /*hover*/
  text-decoration: underline;
}

.button {
  /*button общая НАйти и показать еще*/
  font-family: "Fira Sans Condensed", sans-serif; 
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  line-height: 100%;
  align-items: center;
  height: 34px;
  
}

.search-form__submit-button  {
  /*button НАЙТИ*/
 width: 194px;
 
}

.search-form__submit-button:hover {
  /*:hover*/
  text-decoration: underline;
}

/*НАЧАЛО ВТОРОЙ СЕКЦИИ*/
.content__details {
  /*section*/
  /*растянуть content__details и во всю доступну ширину и высоту 
  контейнера и добавить отступы между заголовком и зоной с карточками */
  background-size: cover;
  inline-size: 339px;
  gap: 26px;
}
.title {
  /*h1  ПОСМОТРИ В ОКНО */
  /*оформить элемент .title и вложенный в него .content__accent*/
  margin-block-end: 30px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
  
}

.content__accent {
  /*span*/
  color: rgba(84, 80, 80, 1);
}

.content__list {
  /*ul*/
  /*Установить вертикальный размер и добавить скролл при переполнении в список ul мы ВСТАВИМ ТЕМПЛЕЙТЫ КАРТОЧЕК!!!!  */
  block-size: 298px;
  inline-size: 100%;
  position: relative;
  overflow-y: auto;
  box-sizing: border-box;
  display: block;
  display: grid;
  gap: 30px;
  
}

/*ТЕМПЛЕЙТЫ используется как контейнера для хранения HTML-кода для дальнейшего использования в JavaScript*/
/*шаблон пункта списка с карточкой видео*/
.cards-list-item-template {
  /*template*/
  padding-bottom: 30px;
}

.content__list-item {
  /*li*/
  /*создать вертикальные отступы между элементами, у всех кроме последнего*/
 display: grid;
 row-gap: 30px;
 
}
.content__list-item li:not(:last-child) {
  padding-inline-start: none;
}

.content__list-item:hover {
  /*hover*/
  text-decoration: underline;
}

.content__card-link {
  /*a href*/
  /*убрать дефолтное подчеркивание и заменить цвет текста у ссылки*/
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__video-card {
  /*article*/
  /*расположить элементы внутри контейнера в строку прижав к началу по дополнительной(поперечной) оси */
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  /**div/
  /*сделать так чтобы он занимал все доступное пространство не занятое картинкой*/
  flex: 1;
  align-items: start;
  inline-size: 100%;
  
}

.content__video-card-title {
  /**h2/
  /*оформить текст*/
  inline-size: 195px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  padding-block-end: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.content__video-card-description {
  /*p*/
  /*присмотреться к высоте линии*/
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
}

.content__video-card-thumbnail {
  /*img */
  /*задать размеры и замостить в них изображение*/
  max-width: 194px;
  width: 100%;
  height: 103px;
}

/*ТЕМПЛЕЙТЫ используется как контейнера для хранения HTML-кода для дальнейшего использования в JavaScript*/
/*шаблон прелоадера*/
.preloader-template {
  /*template*/
}

.preloader {
  /*div*/
}

.preloader-chasing-squares {
  /*div*/
}

.square {
  /*div*/
}

/*ТЕМПЛЕЙТЫ используется как контейнера для хранения HTML-кода для дальнейшего использования в JavaScript*/
/*шаблон кнопки "ПОКАЗАТЬ ЕЩЁ"*/
.more-button-template {
  /*template*/
 
}

 .more-button {
  /*li <button>*/
  width: 399px;
  

}

/*ТЕМПЛЕЙТЫ используется как контейнера для хранения HTML-кода для дальнейшего использования в JavaScript*/
/*шаблон блока с ошибкой*/
.error-template {
  /*template*/
}
.error {
  /*div*/
}

.error__title {
  /*h2*/
}

/*Наша задача - дополнить этот файл так , чтобы интерфейс соответствовал макету*/

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
